<table class="table mb0 table-files noselect" ng-show="$parent.viewTemplate">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="order('model.name')">
                    {{"name" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-xs" ng-hide="config.hideSize">
                <a href="" ng-click="order('model.size')">
                    {{"size" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-xs" ng-hide="config.hideDate">
                <a href="" ng-click="order('model.modified')">
                    {{"date" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.modified'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-xs">
                <a href="" ng-click="order('model.statu')">
                    {{"Status" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.status'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="fileNavigator.requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting &amp;&amp; fileNavigator.fileList.length < 1 &amp;&amp; !fileNavigator.error">
            <td colspan="5">
                {{"no_files_in_folder" | translate}}...
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting &amp;&amp; fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <tr class="item-list" 
                ng-repeat="item in $parent.fileList = (fileNavigator.fileList | filter: {model:{name: query}} | orderBy:predicate:reverse)" 
                ng-show="!fileNavigator.requesting" 
                ng-click="selectOrUnselect(item, $event)" 
                ng-dblclick="smartClick(item)" 
                ng-right-click="selectOrUnselect(item, $event)" 
                ng-class="{selected: isSelected(item), hide: item.model.name.indexOf('recycle.') > -1}">
            <td>
                <a href="" title="{{item.model.name}} ({{item.model.size | humanReadableFileSize}})">
                    <i class="fa fa-folder" ng-show="item.model.type === 'dir'"></i>
                    <i class="fa fa-file" ng-show="item.model.type === 'file'"></i>
                    <i class="fa fa-file-archive-o" ng-show="item.model.type === 'abkp'"></i>
                    {{item.model.name | strLimit : 32}}
                </a>
            </td>
            <td class="hidden-xs">
                <span ng-show="item.model.type !== 'dir'">
                    {{item.model.size | humanReadableFileSize}}
                </span>
                <span ng-show="item.model.type == 'dir'">
                    {{item.model.size}} {{item.model.size == 1 ? 'item' : 'itens'}}
                </span>
            </td>
            <td class="hidden-xs">
                {{item.model.modified | date: "dd/MM/yyyy HH:mm" }}
            </td>
            <td class="hidden-xs">
                <md-icon
                        class="md-table-icon"
                        ng-class="{'sync-file': item.model.status == 'SYNCHRONIZED'}"
                        md-svg-src="assets/svg/{{item.model.status | statusToIcon}}.svg"
                        ng-if="item.model.type != 'dir'">
                </md-icon>
                <span ng-show="item.model.type == 'dir'">-</span>
            </td>
        </tr>
    </tbody>
</table>



<div class="iconset noselect" ng-show="!$parent.viewTemplate">
    <div class="item-list clearfix" ng-click="selectOrUnselect(null, $event)" ng-right-click="selectOrUnselect(null, $event)" prevent="true">
        <div class="col-120" 
        ng-repeat="item in $parent.fileList = (fileNavigator.fileList | filter: {model:{name: query}})" 
        ng-show="!fileNavigator.requesting && !fileNavigator.error"
        ng-class="{selected: isSelected(item), hide: item.model.name.indexOf('recycle.') > -1}">
            <a href="" class="thumbnail text-center" 
                    ng-click="selectOrUnselect(item, $event)" 
                    ng-dblclick="smartClick(item)" 
                    ng-right-click="selectOrUnselect(item, $event)" 
                    title="{{item.model.name}} ({{item.model.size | humanReadableFileSize}})" 
                    ng-class="{selected: isSelected(item)}"
                    style="position: relative;">
                <md-icon
                        class="md-table-icon status-icon"
                        ng-class="{
                            'sync-file': item.model.status == 'SYNCHRONIZED'
                        }"
                        md-svg-src="assets/svg/{{item.model.status | statusToIcon}}.svg"
                        ng-if="item.model.type != 'dir'">
                </md-icon>
                <div class="item-icon">
                    <i class="fa fa-folder" ng-show="item.model.type === 'dir'"></i>
                    <i class="fa fa-file" data-ext="{{ item.model.name | fileExtension }}" ng-show="item.model.type === 'file'" ng-class="{'item-extension': config.showExtensionIcons}"></i>
                    <i class="fa fa-file-archive-o" ng-show="item.model.type === 'abkp'"></i>
                </div>
                {{item.model.name | strLimit : 11 }}
            </a>
        </div>
    </div>

    <div ng-show="fileNavigator.requesting">
        <div ng-include="config.tplPath + '/spinner.html'"></div>
    </div>

    <div class="empty-folder" ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
        {{"no_files_in_folder" | translate}}...
    </div>

    <div class="alert alert-danger" ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>
