<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-2 hidden-xs" style="height: 33px;">
                <div ng-show="!config.breadcrumb">
                    <a class="navbar-brand hidden-xs ng-binding btn-link btn-link--first btn-link--active" href="">{{'myfiles' | translate}}</a>
                    <a class="navbar-brand hidden-xs ng-binding btn-link">{{'trash' | translate}}</a>
                </div>
                <div ng-include="config.tplPath + '/current-folder-breadcrumb.html'" ng-show="config.breadcrumb">
                </div>
            </div>

            <div class="col-sm-4 col-md-8 hidden-xs" ng-class="{'navbar-right-border': hasButtonsEnable()}" style="height: 28px;padding-right: 9px;">
                <div class="navbar-collapse">
                    <div class="navbar-form navbar-right text-right">
                        <div class="btn-group">
                            <button class="btn btn-flat btn-sm"
                                    ng-click="$parent.download()"
                                    ng-show="isButtonEnabled('download') && !selectionHas('dir')"
                                    type="button"
                                    aria-expanded="true"
                                    title="{{'download' | translate}}">
                                <i class="fa fa-download"></i>
                            </button>
                            <button class="btn btn-flat btn-sm"
                                    ng-show="isButtonEnabled('restore') && !selectionHas('dir')"
                                    type="button"
                                    aria-expanded="true"
                                    title="{{'restore' | translate}}">
                                <i class="fa fa-recycle"></i>
                            </button>
                            <button class="btn btn-flat btn-sm"
                                    ng-click="$parent.modal('remove')"
                                    ng-show="isButtonEnabled('remove') && !selectionHas('dir')"
                                    type="button"
                                    aria-expanded="true"
                                    title="{{'remove' | translate}}">
                                <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-flat btn-sm"
                                    ng-click="smartClick(singleSelection())"
                                    ng-show="singleSelection() && singleSelection().isFolder()"
                                    type="button"
                                    aria-expanded="true"
                                    title="{{'open' | translate}}">
                                <i class="fa fa-folder-open"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2" style="height: 33px;padding-left: 0px;">
                <div class="navbar-collapse">
                    <div class="navbar-form navbar-right text-right">
                        <!-- <div class="pull-left visible-xs" ng-if="fileNavigator.currentPath.length">
                            <button class="btn btn-primary btn-flat" ng-click="fileNavigator.upDir()">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                            </button>
                            {{fileNavigator.getCurrentFolderName() | strLimit : 12}}
                        </div> -->
                        <div class="btn-group">
                            <button class="btn btn-flat btn-sm dropdown-toggle" ng-click="$parent.fileNavigator.refresh()" type="button" data-toggle="dropdown" aria-expanded="true" title="{{'refresh' | translate}}">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="dropDownMenuSearch" data-toggle="dropdown" aria-expanded="true" title="{{'search' | translate}}">
                                <i class="glyphicon glyphicon-search mr2"></i>
                            </button>
                            <div class="dropdown-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="dropDownMenuLang">
                                <input type="text" class="search-input" ng-show="config.searchForm" placeholder="{{'search' | translate}}..." ng-model="$parent.query">
                            </div>
                        </div>

                        <button
                                ng-click="$parent.setTemplate(!$parent.viewTemplate)"
                                class="btn btn-flat btn-sm"
                                title="{{$parent.viewTemplate? ('icons' | translate) : ('list' | translate)}}" 
                                style="outline: none">
                            <i class="glyphicon glyphicon-th-large" ng-show="$parent.viewTemplate"></i>
                            <i class="glyphicon glyphicon-th-list" ng-show="!$parent.viewTemplate"></i>
                        </button>

                        <button class="btn btn-flat btn-sm"
                                ng-click="modal('uploadfile')"
                                ng-show="config.allowedActions.upload"
                                style="outline: none"
                                title="{{'upload_files' | translate}}">
                            <i class="fa fa-cloud-upload"></i>
                        </button>

                        <div class="btn-group">
                            <button class="btn btn-flat btn-sm dropdown-toggle" type="button" id="more" data-toggle="dropdown" aria-expanded="true" title="{{'actions' | translate}}">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                            </button>

                            <ul class="dropdown-menu scrollable-menu animated fast fadeIn pull-right" role="menu" aria-labelledby="more">
                                <li role="presentation" ng-show="config.allowedActions.createFolder" ng-click="modal('newfolder') && prepareNewFolder()">
                                    <a href="" role="menuitem" tabindex="-1">
                                        <i class="fa fa-plus"></i> {{"new_folder" | translate}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
